<html>

<head>
    <title>
        City Sweeper
    </title>
</head>

<body>
    <div>
        <h1>
            CITY SWEEPER
        </h1>
        The easy way to get reminded about Chicago's street cleaning dates.
        <br>
        <form action="/" method="POST">
            <!-- for get started, have a pop up login/signup-->
            <button type="submit" name="button" value="Get Started"> Get Started </button>
            <br>
            <button type="submit" name="button" value="Learn More">Learn More</button>
        </form>

    </div>
</body>

</html>