<html>

<head>
    <title> City Sweeper </title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <!--
    <style>
        .container {
            position: relative;
        }

        .center {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 18px;
        }
    </style>
-->
</head>

<body>
    <div class="center">
        <h1>
            CITY SWEEPER
        </h1> The easy way to get reminded about Chicago's street cleaning dates.
        <br>
        <form action="/" method="POST">
            <!-- for get started, have a pop up login/signup-->
            <button type="submit" name="button" value="Get Started"> Get Started </button>
            <br>
            <button type="submit" name="button" value="Learn More">Learn More</button>
        </form>
    </div>
</body>

</html>